*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
}
.calculator-grid{
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4,6rem);
  grid-template-rows: minmax(7rem,auto) repeat(5,6rem);

}
.span-two{
  grid-column: span 2;
}

.output{
  grid-column: 1/-1;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: flex-end;
  justify-content: space-around;
  word-wrap: break-word;
  word-break:break-all;
  outline :1px solid rgba(255, 255, 255, .7);
  border :2px solid black;
  
}
.output .previousOperand{
  color:black;
  font-size: 20px;
}
.output .currentOperand{
  color:black;
  font-size: 35px;
}
.calculator-grid button{
  background-color: rgba(255, 255, 255, .7);
  outline :1px solid rgba(255, 255, 255, .7);
  cursor: pointer;
  font-size: 20px;
}